{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr align="center">
                <th>Id</th>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Edition Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>{% if category.creationDate %}{{ category.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if category.editionDate %}{{ category.editionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categories_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categories_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[category.id]) }}
                                <input type="submit" value="Delete">
                            {{ form_end(deleteForms[category.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categories_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
