{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if category.creationDate %}{{ category.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Editiondate</th>
                <td>{% if category.editionDate %}{{ category.editionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Products list</h2>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Creationdate</th>
            <th>Editiondate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.number }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{% if product.creationDate %}{{ product.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.editionDate %}{{ product.editionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[product.id]) }}
                            <input type="submit" value="Delete">
                            {{ form_end(deleteForms[product.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('products_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
