{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pentaloguser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pentalogUser.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ pentalogUser.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ pentalogUser.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ pentalogUser.salt }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ pentalogUser.role }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if pentalogUser.creationDate %}{{ pentalogUser.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Editiondate</th>
                <td>{% if pentalogUser.editionDate %}{{ pentalogUser.editionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pentaloguser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pentaloguser_edit', { 'id': pentalogUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
